<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909996454299-908uvrv8lebv8g9hsg4617rn4iu0iatq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909996454299-908uvrv8lebv8g9hsg4617rn4iu0iatq</string>
	<key>API_KEY</key>
	<string>AIzaSyCGdr7ljjGmFZ5TM_BfQ4W_APJw5rozgsg</string>
	<key>GCM_SENDER_ID</key>
	<string>909996454299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyCollegeRoomie</string>
	<key>PROJECT_ID</key>
	<string>my-college-roomie</string>
	<key>STORAGE_BUCKET</key>
	<string>my-college-roomie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909996454299:ios:1b14c53c93d9d7dd5df13e</string>
</dict>
</plist>